@using CosmeticClinicManagement.Services.Interfaces
@inject IDoctorDashboardAppService DoctorDashboardAppService

@* dashboard DTO structure for reference:
string DoctorName
int CompletedSessionsCount
int TodaySessionsCount
int PlannedSessionsCount
int PatientsCount
List<SessionSummaryDto> TodaySessionsSummary *@

@* SessionSummaryDto structure for reference:
Guid SessionId
string PatientName
int PatientAge
List<string> SessionNotes
string SessionStatus *@

@{
    var dashboard = await DoctorDashboardAppService.GetDoctorDashboardAsync();
}

<h2>Welcome, Dr. @dashboard.DoctorName</h2>
<p>Your upcoming appointments: @dashboard.TodaySessionsCount </p>
<p>You are taking care of @dashboard.PatientsCount patients.</p>
<p>You have completed: @dashboard.CompletedSessionsCount sessions.</p>
<p>You have @dashboard.PlannedSessionsCount pending sessions.</p>
<h3>Today's Sessions Summary</h3>
<ul>
    @foreach (var session in dashboard.TodaySessionsSummary)
    {
        <li>
            Patient: @session.PatientName, Status: @session.SessionStatus, Age: @session.PatientAge
            <ul>
                @foreach (var note in session.SessionNotes)
                {
                    <li>@note</li>
                }
            </ul>
        </li>
    }
</ul>


