@page
@model CosmeticClinicManagement.Pages.Patients.IndexModel
@addTagHelper *, Volo.Abp.AspNetCore.Mvc.UI.Bootstrap

<h1>Patients</h1>

<p>
	<a asp-page="Create" class="btn btn-primary">Add New Patient</a>
</p>

@foreach (var patient in Model.Patients)
{
	<div class="card mb-3">
		<div class="card-body">
			<h5 class="card-title">@patient.FirstName @patient.LastName</h5>
			<p class="card-text">
				<strong>Date of Birth:</strong> @patient.DateOfBirth.ToShortDateString()<br />
				<strong>Phone number:</strong> @patient.PhoneNumber <br />
				<strong>Email:</strong> @patient.Email
			</p>
			<a asp-page="Edit" asp-route-id="@patient.Id" class="btn btn-secondary">Edit</a>
			<a asp-page="Details" asp-route-id="@patient.Id" class="btn btn-info">Details</a>
			<a asp-page="Delete" asp-route-id="@patient.Id" class="btn btn-danger">Delete</a>
		</div>
	</div>

}